html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

h1, h2 {
    color: var(--dominantColor) !important;
}

.top-logo {
   height: auto; 
   font-weight: bold;
   color: var(--dominantColor) !important;
   font-size: 55px;
   padding-top: 40px;
   padding-bottom: 0px;
   background-color: #ffffff;
}

#top-logo-small {
    font-size: 29px;
    font-family: "Protest Riot", sans-serif;
}

.material-symbols-outlined {
    font-size: 60px;
    color: var(--dominantColor) !important;
    position: relative;
    top: 0px;
}

